/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body, html {
    height:100%;
}

ul {
    list-style:none;
    border:none;
    margin:0;
    padding:0;
}

nav ul {
    height:100px;
    background:#f6f6f6;
    width:85%;
    padding:0 0 0 15%;
}

nav li {
    float:left;
    width:33.3%;
    border-right:1px solid #ebeaea;
    padding:40px 0;
    text-align:center;
    cursor:pointer;
    font-size:18px;
    box-sizing:border-box;
}

.admin nav li {
    width:25%;
}

.wrapper {
    height:100%;
}

nav li:first-child {
    border-left:1px solid #ebeaea;
}

nav li:hover {
    background:#ebeaea;
}

nav .active {
    background:red;
    color:#fff;
}

nav .active:hover {
    background:red;
}


.sideBar {
    background:#f6f6f6;
    width:15%;
    border-top:1px solid #ebeaea;
    height:calc(100% - 100px);
    float:left;
    overflow:scroll;
}

.sideBar li {
    width:100%;
    border-bottom:1px solid #ebeaea;
    padding:15px 0;
    text-align:center;
    font-size:16px;
    cursor:pointer;
}

.sideBar li:hover {
    background:#ebeaea;
}

.sideBar .active {
    background:red;
    color:#fff;
}

.sideBar .active:hover {
    background:red;
}

.content {
    float:right;
    width:80%;
    margin:55px 0 0 5%;
}



.counters {
    float:left;
    font-size:50px;
    padding:0 6%;
    margin:0 0 50px 0;
    position:relative;
    cursor:pointer;
}

.counters span {
    font-size:16px;
    position:absolute;
    background:red;
    color:#fff;
    font-weight:bold;
    width:26px;
    height:26px;
    padding:3px 2px 0 0;
    text-align:center;
    border-radius:14.5px;
    top:-10px;
    right:50px;
}

.counters .inactive {
    background:#ebeaea;
    color:#333;
}